/* line 8, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
* {
  font-family: calibri;
}

/* line 12, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
a {
  text-decoration: none;
}

/* line 16, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
body {
  margin: 0 auto;
  padding: 2%;
}

/* line 21, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
header {
  display: flex;
  float: left;
  width: 70%;
  padding-top: 0.3em;
}

/* line 28, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.logo {
  width: 17em;
  margin-right: 4em;
}

/* line 33, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 39, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.btn_select {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: white;
  color: #901C1C;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
}

/* line 48, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.btn_select:hover, .btn_select:focus {
  background-color: #901C1C;
  color: white;
}

/* line 54, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
h1 {
  color: #901C1C;
  width: 20%;
  margin-left: 74%;
}

/* line 60, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 68, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
article {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
}

/* line 76, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.photo_graphers {
  height: 17em;
  width: 17em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* line 87, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.format_photos {
  width: 20.5em;
}

/* line 91, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.photographers_name {
  color: #D3573C;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-align: center;
}

/* line 99, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.city {
  color: #901C1C;
}

/* line 103, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.prices {
  color: #757575;
  padding-bottom: 0.4em;
}

/* line 108, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.city, .slogan, .prices {
  margin: 0.2em;
  font-size: 1.1em;
}

/* line 113, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
footer {
  height: 10em;
}

/*Query Smartphone*/
@media screen and (max-width: 840px) {
  /* line 122, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  body {
    width: 100%;
  }
  /* line 126, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  /* line 133, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  banner {
    height: 60px;
    width: 300px;
  }
  /* line 138, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .logo {
    width: 13em;
  }
  /* line 142, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  h1 {
    font-size: 1.2em;
    width: 40%;
    height: 40px;
    margin-top: 1em;
    margin-left: 60%;
  }
  /* line 150, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  main {
    width: 100%;
    position: relative;
  }
  /* line 155, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2em;
    width: 100%;
    justify-content: center;
  }
  /* line 163, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .btn_select {
    margin-bottom: 0.7em;
    font-size: 1em;
  }
  /* line 168, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 8em;
  }
  /* line 176, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  article {
    width: 100%;
    margin-top: 3em;
  }
}

/*# sourceMappingURL=cssindex.css.map */