/* line 8, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
* {
  font-family: calibri;
}

/* line 12, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
a {
  text-decoration: none;
}

/* line 16, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
body {
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* line 21, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
header {
  display: flex;
  float: left;
  width: 70%;
  padding-top: 0.3em;
}

/* line 28, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.logo {
  width: 17em;
  margin-right: 4em;
}

/* line 33, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 39, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.btn_select {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: white;
  color: #901C1C;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: capitalize;
}

/* line 49, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.btn_select:hover, .btn_select:focus {
  background-color: #901C1C;
  color: white;
}

/* line 55, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
h1 {
  color: #901C1C;
  width: 20%;
  margin-left: 74%;
  padding-top: 25px;
}

/* line 62, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 70, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
article {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
}

/* line 78, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.photo_graphers {
  height: 17em;
  width: 17em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* line 89, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.format_photos {
  width: 26em;
}

/* line 93, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.photographers_name {
  color: #D3573C;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-align: center;
}

/* line 101, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.city {
  color: #901C1C;
}

/* line 105, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.prices {
  color: #757575;
  padding-bottom: 0.4em;
}

/* line 110, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.city, .slogan, .prices {
  margin: 0.2em;
  font-size: 1.1em;
}

/* line 115, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
footer {
  height: 10em;
}

/* line 119, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.block-url-ancre {
  width: 100%;
  height: 0px;
  position: absolute;
}

/* line 125, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
.lien-ancre-tags {
  top: 0;
  padding: 5px;
  background-color: #D3573C;
  border-radius: 5px;
  position: fixed;
  z-index: 100;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
  width: 130px;
  margin-left: 45%;
  margin-right: 40%;
  cursor: pointer;
}

/*Query Smartphone*/
@media screen and (max-width: 840px) {
  /* line 148, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  body {
    width: 100%;
  }
  /* line 152, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  /* line 159, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  banner {
    height: 60px;
    width: 300px;
  }
  /* line 164, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .logo {
    width: 13em;
  }
  /* line 168, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  h1 {
    font-size: 1.2em;
    width: 40%;
    height: 40px;
    margin-top: 1em;
    margin-left: 60%;
  }
  /* line 176, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  main {
    width: 100%;
    position: relative;
  }
  /* line 181, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2em;
    width: 100%;
    justify-content: center;
  }
  /* line 189, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .btn_select {
    margin-bottom: 0.7em;
    font-size: 1em;
  }
  /* line 194, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 8em;
  }
  /* line 202, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  article {
    width: 100%;
    margin-top: 3em;
  }
  /* line 207, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssindex.scss */
  .url-ancre {
    display: none;
  }
}

/*# sourceMappingURL=cssindex.css.map */