/* line 7, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
* {
  font-family: calibri;
}

/* line 11, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
a {
  text-decoration: none;
}

/* line 15, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
body {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

/* line 23, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal {
  margin: auto;
  position: absolute;
  background-color: #db8876;
  height: 30em;
  width: 22em;
  position: fixed;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 30%;
  top: 10vh;
  animation: boxIn 0.3s;
}

/* line 40, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal p {
  font-size: 28px;
  margin: 0;
}

/* line 45, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.fa {
  color: white;
  font-size: 34px;
  position: absolute;
  cursor: pointer;
  margin-left: 85%;
}

/* line 53, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal p:nth-child(2) {
  margin-bottom: 20px;
}

/* line 57, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal label,
.text-control {
  display: block;
}

/* line 62, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal label {
  font-size: 22px;
}

/* line 66, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.text-control {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-bottom: 1px;
  height: 35px;
}

/* line 74, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
textarea {
  width: 100%;
  border-radius: 5px;
}

/* line 79, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.send_button {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* line 92, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.head {
  width: 100%;
  padding-top: 0.3em;
  margin-bottom: 1em;
}

/* line 98, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.logo {
  width: 17em;
  margin-right: 4em;
}

/* line 103, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 3.5em;
  width: auto;
  height: 250px;
}

/* line 112, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin: 0;
}

/* line 121, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
h1 {
  color: #d3573c;
  font-size: 2.3em;
  margin: 0;
}

/* line 127, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.city {
  color: #901c1c;
  font-size: 20px;
}

/* line 132, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.slogan {
  color: #525252;
}

/* line 136, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#tagsbox {
  height: 40px;
}

/* line 140, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_contact {
  border-radius: 5px;
  background-color: #901c1c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  margin-left: 10%;
  width: auto;
}

/* line 153, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.tagsbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 350px;
}

/* line 160, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_tags {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: white;
  color: #901c1c;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: capitalize;
}

/* line 170, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_tags:hover {
  background-color: #901c1c;
  color: white;
}

/* line 176, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.photo_graphers {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* line 187, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.format_photos {
  width: 23em;
}

/* line 191, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#sortby {
  display: flex;
  flex-direction: row;
}

/* line 196, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style {
  padding: 0;
  margin: 0;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* line 205, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: #901c1c;
  appearance: none;
  color: white;
  margin-left: 1em;
  border-radius: 5px;
}

/* line 217, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: white;
  border-width: 5px;
  margin-top: -2px;
}

/* line 231, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style select:focus {
  outline: none;
}

/* line 235, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#medias_sections {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 242, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_box {
  width: 350px;
  height: 340px;
  margin: 25px;
}

/* line 248, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_box img {
  min-width: 350px;
  position: absolute;
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
}

/* line 256, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_format {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

/* line 265, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.vignette-video {
  height: 300px;
  overflow: hidden;
}

/* line 270, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  width: 350px;
  color: #901c1c;
  padding-top: 10px;
  justify-content: space-between;
}

/* line 281, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p {
  margin: 0;
  font-size: 22px;
}

/* line 286, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.titlebox {
  width: 65%;
  overflow: hidden;
  border: black;
}

/* line 292, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 298, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p:nth-child(2) {
  position: absolute;
  margin-left: 240px;
}

/* line 303, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.likesbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 309, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.heartmedia {
  position: relative;
  top: 0.2em;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

/* line 317, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#compteur {
  z-index: 2;
  position: fixed;
  background-color: #db8876;
  width: 200px;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 10px;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  font-size: 20px;
}

/* line 337, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.price {
  margin-left: 50px;
}

/* line 341, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  animation: boxIn 0.5s;
  display: none;
  padding-top: 20px;
}

/* line 354, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.lightbox_next,
.lightbox_prev {
  font-size: 36px;
  position: fixed;
  top: 50%;
  right: 20px;
  margin-top: 14px;
  z-index: 101;
  cursor: pointer;
  color: #901c1c;
}

/* line 366, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.lightbox_prev {
  right: auto;
  left: 20px;
}

/* line 371, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.lightbox_close {
  cursor: pointer;
  color: #901c1c;
  font-size: 36px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 101;
}

/* line 381, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.lightbox_container img {
  max-height: 90vh;
  max-width: 90vh;
  height: auto;
  animation: boxIn 0.3s;
}

/* line 388, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.lightbox_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

@keyframes boxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 406, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.text-lightbox {
  color: #901c1c;
  font-size: 22px;
  margin-top: 10px;
}

/* line 412, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.video-lightbox {
  width: 800px;
}

/*Query Smartphone*/
@media screen and (max-width: 840px) {
  /* line 418, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  body {
    margin: 0 auto;
  }
  /* line 422, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #bloc_page {
    margin: 0 auto;
  }
  /* line 426, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .logo {
    height: 42px;
    width: 150px;
  }
  /* line 431, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .btn_contact {
    position: absolute;
    bottom: 4vh;
    position: fixed;
    z-index: 2;
    width: 180px;
    height: 30px;
    padding: 0;
    font-size: 22px;
    left: 20%;
  }
  /* line 443, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  h1 {
    font-size: 36px;
    height: 40px;
    width: 320px;
    font-weight: normal;
  }
  /* line 450, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .infos {
    height: 130px;
  }
  /* line 454, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .infos p {
    font-size: 13px;
  }
  /* line 458, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .slogan {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 463, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #compteur {
    display: none;
  }
  /* line 467, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #profile {
    padding: 0;
    height: 150px;
    width: 330px;
  }
  /* line 473, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #profile p {
    margin: 0;
  }
  /* line 477, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .photo_graphers {
    height: 5.5em;
    width: 5.5em;
    position: absolute;
    left: 68%;
  }
  /* line 484, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .tagsbox {
    flex-wrap: wrap;
    width: 260px;
    margin-top: 4px;
  }
  /* line 490, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .btn_tags {
    border: hidden;
    font-size: 13px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 0;
  }
  /* line 498, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #tagsbox {
    display: none;
  }
  /* line 502, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .format_photos {
    width: 9em;
  }
  /* line 506, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #sortby {
    display: none;
  }
  /* line 510, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  #medias_sections {
    max-width: 700px;
  }
  /* line 514, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .media_format {
    height: 190px;
    width: 330px;
  }
  /* line 519, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .medias_infos {
    width: 330px;
  }
  /* line 523, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .price {
    display: none;
  }
  /* line 527, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .titlebox p,
  .likesbox p,
  .heartmedia {
    font-size: 14px;
  }
  /* line 533, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  section {
    width: 330px;
  }
  /* line 537, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .media_box {
    width: 330px;
    height: 227px;
    margin: 0px;
  }
  /* line 543, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .modal {
    margin: 5%;
    position: absolute;
  }
  /* line 548, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .lightbox_container img {
    max-width: 80%;
    min-height: 50vh;
    max-height: 80vh;
  }
  /* line 554, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
  .lightbox_container video {
    width: 300px;
  }
}

/*# sourceMappingURL=cssphotographers.css.map */