/* line 7, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
* {
  font-family: calibri;
}

/* line 11, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
a {
  text-decoration: none;
}

/* line 15, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
body {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

/* line 23, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal {
  margin: auto;
  position: absolute;
  background-color: #DB8876;
  height: 30em;
  width: 22em;
  position: fixed;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 30%;
}

/* line 38, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal p {
  font-size: 28px;
  margin: 0;
}

/* line 43, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.fa {
  color: white;
  font-size: 34px;
  position: absolute;
  cursor: pointer;
  margin-left: 85%;
}

/* line 51, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal p:nth-child(2) {
  margin-bottom: 20px;
}

/* line 55, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal label, .text-control {
  display: block;
}

/* line 59, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.modal label {
  font-size: 22px;
}

/* line 63, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.text-control {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-bottom: 1px;
  height: 35px;
}

/* line 71, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
textarea {
  width: 100%;
  border-radius: 5px;
}

/* line 76, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.send_button {
  background-color: #901C1C;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* line 89, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.head {
  width: 100%;
  padding-top: 0.3em;
  margin-bottom: 1em;
}

/* line 95, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.logo {
  width: 17em;
  margin-right: 4em;
}

/* line 100, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 3.5em;
  width: auto;
  height: 250px;
}

/* line 109, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin: 0;
}

/* line 118, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
h1 {
  color: #D3573C;
  font-size: 2.3em;
  margin: 0;
}

/* line 124, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.city {
  color: #901C1C;
  font-size: 20px;
}

/* line 129, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.slogan {
  color: #525252;
}

/* line 133, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#tagsbox {
  height: 40px;
}

/* line 137, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_contact {
  border-radius: 5px;
  background-color: #901C1C;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  margin-left: 10%;
  width: auto;
}

/* line 150, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.tagsbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 350px;
}

/* line 157, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_tags {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: white;
  color: #901C1C;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: capitalize;
}

/* line 167, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.btn_tags:hover, .btn_tags:focus {
  background-color: #901C1C;
  color: white;
}

/* line 174, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.photo_graphers {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* line 185, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.format_photos {
  width: 23em;
}

/* line 189, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#sortby {
  display: flex;
  flex-direction: row;
}

/* line 194, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style {
  padding: 0;
  margin: 0;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* line 203, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: #901C1C;
  appearance: none;
  color: white;
  margin-left: 1em;
  border-radius: 5px;
}

/* line 215, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: white;
  border-width: 5px;
  margin-top: -2px;
}

/* line 229, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.select-style select:focus {
  outline: none;
}

/* line 233, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
#medias_sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 241, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_box {
  width: 350px;
  height: 340px;
  margin: 25px;
}

/* line 248, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_box img {
  width: 350px;
  bottom: 20px;
  position: relative;
}

/* line 254, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.media_format {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  overflow: hidden;
}

/* line 261, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
video {
  height: 300px;
  overflow: hidden;
}

/* line 266, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  width: 300px;
  color: #901C1C;
  padding-top: 10px;
}

/* line 276, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p {
  margin: 0;
  font-size: 22px;
}

/* line 281, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p:nth-child(1) {
  margin-right: 50px;
}

/* line 285, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.medias_infos p:nth-child(2) {
  margin-right: 25px;
}

/* line 289, ../P6/Fisheye/lberthaut-BERTHAUT_6_25032021/css/scss/cssphotographers.scss */
.fa-heart {
  position: relative;
  top: 0.2em;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=cssphotographers.css.map */