$redcolor: #901C1C;
$orangecolor: #D3573C;
$bordercolor: #C4C4C4;
$font: calibri;

*{
    font-family: $font;
}

a{
    text-decoration: none;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.head{
    width: 100%;
    padding-top: 0.3em;
    margin-bottom: 1em;
}

.logo{
    width: 17em;
    margin-right: 4em;
}

main{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 3.5em;
    width: auto;
    height: 250px;
}

.infos{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin: 0;
}

h1{
    color: $orangecolor;
    font-size: 2.3em;
    margin: 0;
}

.city{
    color: $redcolor;
    font-size: 20px;
}

.slogan{
    color: #525252;
}

#tagsbox{
    height: 40px;
}

.btn_contact{
    border-radius: 5px;
    background-color: $redcolor;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    margin-left: 10%;
    width: auto;
}

.photo_graphers{
    height: 15em; 
    width: 15em; 
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.format_photos{
    width: 15em;
}

.select-wrapper select{
    border:0; 
    min-width:130%; 
    cursor:pointer; 
    color:#000; 
    color:rgba(0,0,0,0); 
    text-shadow:0 0 0 #000; 
    outline:none;
    white-space:nowrap;
}

.select-wrapper:after{
    content:"\25BC"; 
    display:block; 
    position:relative; 
    float:right; 
    top:-25px; 
    right:-5px; 
    background-color:#fff; 
    width:32px; 
    text-align:center; 
    margin-bottom:-25px;
}